.mainContent{
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar width and content area */
    gap: 20px; /* Space between the sidebar and content */
    min-height: 100vh; /* Full viewport height */

}
.leftSide{
    background-color: #fff; /* Light background for the sidebar */
    padding: 20px;
}
.content{
    background-color: #f4f4f4; /* White background for the content area */
  padding: 20px; 
}