.tabel{
    width: 100%;
}
.tabel thead,
.tabel tr{
    text-align: center;
    height: 40px;
    font-size:clamp(0.688rem, 0.5781rem + 0.4687vw, 1rem);
}
.tabel thead{
    background-color:#0242aa ;
    color: #fff;
}
.tabel tbody tr{
    background-color: #fff;
}
.green{
    background-color: rgb(58, 128, 0);
    border-radius: 20px;
    color: #fff;
}
.blue{
    background-color: #027aaa;
    border-radius: 20px;
    color: #fff;
}
.orange{
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    color: #fff;
}
.yellow{
    background-color: rgb(105, 107, 0);
    border-radius: 20px;
    color: #fff;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex button{
    background-color: #0242aa;
    color: #fff;
    outline: none;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.popup{
    background-color: rgba(0, 119, 255, 0.445);
    padding: 20px;
    margin: 10px 0;

}
.popupContent{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;

}
.inputs input{
    background-color: #fff;
    border: none;
    outline: none;
    height: 20px;
    margin-right: 20px;
    padding: 8px;
}
.btn button{
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn button:first-of-type{
    background-color: rgb(1, 78, 49);
    color: #fff;
}
.btn button:last-of-type{
    background-color: rgb(104, 0, 0);
    color: #fff;
}